variant: fcos
version: 1.5.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ SSH_PUBKEY }}

systemd:
  units:
    - name: pod-matrix.service
      enabled: true
      contents_local: services/pod-matrix.service

    - name: container-postgresql.service
      enabled: true
      contents_local: services/container-postgresql.service

    - name: container-synapse.service
      enabled: true
      contents_local: services/container-synapse.service

    - name: container-element-web.service
      enabled: true
      contents_local: services/container-element-web.service

storage:
  directories:
    - path: /var/srv/matrix
      mode: 0700
    - path: /var/srv/matrix/synapse/media_store
      mode: 0777
    - path: /var/srv/matrix/postgres
  trees:
    - local: synapse
      path: /var/srv/matrix/synapse
    - local: element-web
      path: /var/srv/matrix/element-web
  files:
    - path: /etc/postgresql_synapse
      contents:
        local: postgresql_synapse
      mode: 0700
    - path: /etc/zincati/config.d/55-updates-strategy.toml
      contents:
        local: zincati/55-updates-strategy.toml

