{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://matrix.{{ DOMAIN_NAME }}",
            "server_name": "{{ DOMAIN_NAME }}"
        },
        "m.identity_server": {
            "base_url": "https://vector.im"
        }
    },
    "disable_guests": true,
    "brand": "Element",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "integrations_widgets_urls": [
        "https://scalar.vector.im/_matrix/integrations/v1",
        "https://scalar.vector.im/api",
        "https://scalar-staging.vector.im/_matrix/integrations/v1",
        "https://scalar-staging.vector.im/api",
        "https://scalar-staging.riot.im/scalar/api"
    ],
    "showLabsSettings": true,
    "default_federate": true,
    "default_theme": "light",
    "roomDirectory": {
        "servers": [
            "matrix.org",
            "gitter.im"
        ]
    },
    "enable_presence_by_hs_url": {
        "https://matrix.org": false,
        "https://matrix-client.matrix.org": false
    }
}
